.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 24px 32px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eef0f3;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
.wrapStatCard {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .wrapStatCard {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .wrapStatCard {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.Icon {
  width: 24px;
  height: 24px;
}
.wrapTab {
    margin-top: 48px;
}

/* Dark mode styles */
.container.dark {
  background-color: #041235;
  color: white;
}
